.main {
  flex: 1;
}

.main__search {
  padding: 80px 24px;
  background-color: #1a1b22;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .main__search {
    padding: 64px 24px;
  }
}

@media screen and (max-width: 520px) {
  .main__search {
    padding: 48px 16px 32px;
  }
}
